In [1]:
%%writefile testutility.py
import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime 
import gc
import re


################
# File Reading #
################

def read_config_file(filepath):
    with open(filepath, 'r') as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            logging.error(exc)


def replacer(string, char):
    pattern = char + '{2,}'
    string = re.sub(pattern, char, string) 
    return string

def col_header_val(df,table_config):
    '''
    replace whitespaces in the column
    and standardized column names
    '''
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace('[^\w]','_',regex=True)
    df.columns = list(map(lambda x: x.strip('_'), list(df.columns)))
    df.columns = list(map(lambda x: replacer(x,'_'), list(df.columns)))
    expected_col = list(map(lambda x: x.lower(),  table_config['columns']))
    expected_col.sort()
    df.columns =list(map(lambda x: x.lower(), list(df.columns)))
    df = df.reindex(sorted(df.columns), axis=1)
    if len(df.columns) == len(expected_col) and list(expected_col)  == list(df.columns):
        print("column name and column length validation passed")
        return 1
    else:
        print("column name and column length validation failed")
        mismatched_columns_file = list(set(df.columns).difference(expected_col))
        print("Following File columns are not in the YAML file",mismatched_columns_file)
        missing_YAML_file = list(set(expected_col).difference(df.columns))
        print("Following YAML columns are not in the file uploaded",missing_YAML_file)
        logging.info(f'df columns: {df.columns}')
        logging.info(f'expected columns: {expected_col}')
        return 0

Writing testutility.py

In [18]:
%%writefile file.yaml
file_type: csv
dataset_name: testfile
file_name: Motor_Vehicle_Collisions_-_Crashes
table_name: edsurv
inbound_delimiter: ","
outbound_delimiter: "|"
skip_leading_rows: 1
columns:
    - number_of_motorist_injured
    - cross street name
    - crash date
    - on_street_name
    - longitude
    - zip_code
    - location

Overwriting file.yaml

In [19]:
import testutility as util
config_data = util.read_config_file("file.yaml")

In [14]:
import pandas as pd
df = pd.read_csv("Motor_Vehicle_Collisions_-_Crashes.csv",delimiter=',', low_memory=False)
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [20]:
config_data

{'file_type': 'csv',
 'dataset_name': 'testfile',
 'file_name': 'Motor_Vehicle_Collisions_-_Crashes',
 'table_name': 'edsurv',
 'inbound_delimiter': ',',
 'outbound_delimiter': '|',
 'skip_leading_rows': 1,
 'columns': ['number_of_motorist_injured',
  'cross street name',
  'crash date',
  'on_street_name',
  'longitude',
  'zip_code',
  'location']}

In [16]:
file_type = config_data['file_type']
source_file = "./" + config_data['file_name'] + f'.{file_type}'
#print("",source_file)
df = pd.read_csv(source_file,config_data['inbound_delimiter'])
df.head()

C:\Users\Surface\AppData\Local\Temp\ipykernel_2880\1005017620.py:4: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df = pd.read_csv(source_file,config_data['inbound_delimiter'])
C:\Users\Surface\AppData\Local\Temp\ipykernel_2880\1005017620.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(source_file,config_data['inbound_delimiter'])

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,09/11/2021,9:35,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,12/14/2021,8:13,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN

In [21]:
util.col_header_val(df,config_data)

column name and column length validation failed
Following File columns are not in the YAML file ['contributing_factor_vehicle_1', 'number_of_pedestrians_killed', 'vehicle_type_code_1', 'collision_id', 'number_of_pedestrians_injured', 'number_of_persons_killed', 'vehicle_type_code_5', 'cross_street_name', 'latitude', 'contributing_factor_vehicle_4', 'contributing_factor_vehicle_2', 'crash_time', 'off_street_name', 'vehicle_type_code_2', 'contributing_factor_vehicle_5', 'number_of_cyclist_injured', 'vehicle_type_code_4', 'contributing_factor_vehicle_3', 'crash_date', 'number_of_motorist_killed', 'borough', 'number_of_persons_injured', 'number_of_cyclist_killed', 'vehicle_type_code_3']
Following YAML columns are not in the file uploaded ['crash date', 'cross street name']

0

In [22]:
print("columns of files are:" ,df.columns)
print("columns of YAML are:" ,config_data['columns'])

columns of files are: Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'location', 'on_street_name', 'cross_street_name',
       'off_street_name', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'contributing_factor_vehicle_1',
       'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3',
       'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
       'collision_id', 'vehicle_type_code_1', 'vehicle_type_code_2',
       'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5'],
      dtype='object')
columns of YAML are: ['number_of_motorist_injured', 'cross street name', 'crash date', 'on_street_name', 'longitude', 'zip_code', 'location']

In [24]:
import os

def reject_file(df):
    log_rejection_details(df)
    move_or_delete_file(df)

def log_rejection_details(df):
    with open('rejection_log.txt', 'a') as log_file:
        log_file.write(f"Rejection details for file: {df}\n")

def move_or_delete_file(df):
    rejected_file_name = 'rejected_Motor_Vehicle_Collisions_-_Crashes.csv'
    download_path = os.path.join(os.path.expanduser("~"), "Downloads")
    rejected_file_path = os.path.join(download_path, rejected_file_name)
    print(f"File rejected and moved to: {rejected_file_path}")

if util.col_header_val(df, config_data) == 0:
    print("Validation failed")
    reject_file(df)
else:
    print("Col validation passed")

column name and column length validation failed
Following File columns are not in the YAML file ['contributing_factor_vehicle_1', 'number_of_pedestrians_killed', 'vehicle_type_code_1', 'collision_id', 'number_of_pedestrians_injured', 'number_of_persons_killed', 'vehicle_type_code_5', 'cross_street_name', 'latitude', 'contributing_factor_vehicle_4', 'contributing_factor_vehicle_2', 'crash_time', 'off_street_name', 'vehicle_type_code_2', 'contributing_factor_vehicle_5', 'number_of_cyclist_injured', 'vehicle_type_code_4', 'contributing_factor_vehicle_3', 'crash_date', 'number_of_motorist_killed', 'borough', 'number_of_persons_injured', 'number_of_cyclist_killed', 'vehicle_type_code_3']
Following YAML columns are not in the file uploaded ['crash date', 'cross street name']
Validation failed
File rejected and moved to: C:\Users\Surface\Downloads\rejected_Motor_Vehicle_Collisions_-_Crashes.csv